<div class="container">
    <h1 style="color:darkmagenta ;"><b>Book Details</b></h1>
    <div class="container1">
        <a routerLink="/addbook" mat-raised-button color="primary">Click to add Book</a>
    </div>
    <div class="container2">
        <a routerLink="/getbook" mat-raised-button color="primary">Click to view Book</a>
    </div>
    <div class="container3">
        <a routerLink="/issuebook" mat-raised-button color="primary">Click to issue the book</a>
    </div>
    <div class="container4">
        <a routerLink="/returnbook" mat-raised-button color="primary">Click to return the book</a>
    </div>
</div>