<p>
    <mat-toolbar color="primary">
      <a routerLink="/showBvicam" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </a>
      <span>BVICAM</span>
      <span class="example-spacer"></span>
      <div class="git">
        <a href="https://github.com/akhil0128" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </a>
      </div>
    </mat-toolbar>
  </p>
